* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 50vh;
  position: relative;
  display: grid;
  place-items: center;
}

#section1 {
  background-color: lightsalmon;
}

#section2 {
  background-color: lightseagreen;
}

#section3 {
  background-color: lightskyblue;
  & .arrow {
    border: none;
    background: transparent;
    font-size: 5rem;
    transform: scale(0.9);
    will-change: transform;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  overflow: hidden;
}

.bar {
  width: 100px;
  height: 100px;
  background-color: lightpink;
  position: absolute;
}

.big-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightblue;
  z-index: 1;
}

.small-circles-holder {
  position:absolute;

}

.small-circle {
	width:10px;
	height:10px;
	border-radius:50%;
	background:orange;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
